<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>


</head>
<body>
<th:block th:fragment="navi">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">자음모음</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/admin">관리자 메인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/userList">회원 관리</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/report/1">댓글 관리</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/report/2">음원 관리</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>

</th:block>

</body>
</html>