<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.JM.dao.MusicDAO">

    <select id="selectAllMusic" resultType="music">
        select MyMusic_number, MyMusic_title, MyMusic_singer, MyMusic_genre FROM MyMusic
    </select>

</mapper>