<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.JM.dao.MyMusicDAO">

    <select id="selectMyMusic" resultType="MyMusic">
        select C.*
        from playlist_manage A,
        playlist B,
        music C
        where A.user_number = B.user_number
        and A.list_name = B.list_name
        and b.music_number = C.music_number
        and a.user_number = #{user_number}
        and a.list_name = #{list_name}
        order by C.music_number desc
        ;
    </select>

</mapper>