<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucamp.JM.dao.Playlist_ManageDAO">

    <select id="selectAllPM" resultType="playlist_manage">
        select * from playlist_manage where user_number='${user_number}' order by  list_name
    </select>

    <insert id="insertPlaylist_Manage">
        insert into playlist_manage(list_name, user_number)
        values (#{list_name}, #{user_number})
    </insert>

    <select id="PMgetUserNumByEmail" resultType="User">
        select user_number from jmuser where user_email=#{user_email}
    </select>

<!--    <select id="selectListName" resultType="playlist_manage">-->
<!--        select list_name from playlist_manage where user_number=#{user_number}-->
<!--    </select>-->
</mapper>

<!--        insert into playlist_manage (list_name, user_number)-->
<!--        values ('hi', 1);-->