<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자음모음</title>

</head>
<link rel="stylesheet" href="/webapp/css/bootstrapLux.css"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<link rel="stylesheet" href="/webapp/css/font.css"/>
<script>
    $(document).ready(function () {
         $('#example').DataTable();
    });

</script>

<body>
<th:block th:replace="~{navHeaderMain :: naviMain}"></th:block>

<div style="padding:50px;">
    <h1 style="text-align:center;">자음모음 게시판</h1>
    <!--    <div class="form-group" style="text-align:center">-->
    <!--        <form action="/boardSearchList" class="table-active" style="display:inline">-->


    <!--            <input type="text" class="form-control2" placeholder="제목 또는 작성자 또는 내용 키워드를 입력하세요." name="boardSearchString"-->
    <!--                   size="40">-->
    <!--            <input type="submit" class="form-control2" value="검색" style="width:5%;display:inline-block">-->
    <!--        </form>-->

    <!--    </div>-->
    <br> <br>
    <th:block th:if="${session.user_email}">
        <a href="/boardWriteForm" class="btn"><h3><small class="text-muted1">글쓰기</small></h3></a>
    </th:block>

    <th:block th:unless="${session.user_email}">
        <h3><small class="text-muted">회원가입 후 글쓰기 가능합니다.</small></h3>
    </th:block>

    <div>
        <table class='table table-hover' id="example" style='width:100%' aria-describedby='example_info'>
            <thead>
            <tr class='table-active'>
                <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                    aria-sort='ascending'>No.
                </th>
                <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                    aria-sort='ascending'>제목
                </th>
                <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                    aria-sort='ascending'>작성자
                </th>
                <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                    aria-sort='ascending'>작성일자
                </th>
                <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                    aria-sort='ascending'>조회수
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="d:${dashboards}">
                <td>[[${d.dashboard_No}]]</td>
                <td><a th:href="|/readboard/${d.dashboard_No}|"> [[${d.dashboard_title}]] </a></td>
                <td>[[${d.dashboard_user}]]</td>
                <td>[[${d.dashboard_date}]]</td>
                <td>[[${d.dashboard_views}]]</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>