<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자음모음</title>
    <script type="text/javascript">

	function check(){
		if (f.dashboard_title.value==""){
			alert("제목을 입력해 주세요!!")
			f.dashboard_title.focus()
			return false
		}else if (f.dashboard_content.value==""){
		    alert("내용을 입력해주세요!!")
		    f.dashboard_content.focus()
		    return false
	    }
		return true
	}

    </script>

</head>
<link rel="stylesheet" href="/webapp/css/bootstrapLux.css"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

<body>

<div>
    <legend>게시글 수정하기</legend>
</div>

<br><br><br><br><br><br>

<form action="/editBoard" name="f" onsubmit="return check()">
    <input type="hidden" th:value="${dashboard_No}" name="dashboard_No">
    <div>
        <div>
            <label class="col-sm-2 col-form-label">글쓴이</label>
            <input class="form-control" id="disabledInput" type="text" th:placeholder="${dashboard_user}" disabled="">
        </div>
        <br>

        <div class="form-group">

            <label class="form-label mt-4">제 목</label>

            <div>
                <input type="text" class="form-control" th:value="${dashboard_title}" name="dashboard_title">
            </div>
        </div>
        <br>

        <div class="form-group">

            <label class="form-label mt-4">내 용</label>
            <textarea class="form-control" th:value="${dashboard_content}" name="dashboard_content" rows="3" cols="50">[[${dashboard_content}]]</textarea>

        </div>

        <br><br>

        <div>

            <button type="submit" class="btn btn-outline-primary" value="수정완료">수정완료</button>
            <button type="reset" class="btn btn-outline-primary" value="초기화">초기화</button>
            <button type="button" class="btn btn-outline-primary" value="돌아가기" onclick="window.location='/boardList'">돌아가기</button>
        </div>
    </div>
</form>
<br><br>

</div>


</body>
</html>