<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>editBoardForm</title>
    <script type="text/javascript">

	function check(){
		if (f.dashboard_title.value==""){
			alert("제목을 입력해 주세요!!")
			f.dashboard_title.focus()
			return false
		}else if (f.dashboard_content.value==""){
		    alert("내용을 입력해주세요!!")
		    f.dashboard_content.focus()
		    return false
	    }
		return true
	}
</script>

</head>
<body>

<div>
    <label>게시글 수정하기</label>
</div>

<br><br>

<form action="/editBoard" name="f" onsubmit="return check()">
    <input type="hidden" th:value="${dashboard_No}" name="dashboard_No">
    <div>
        <div>
            <label>글쓴이</label>
            <div>
                [[${dashboard_user}]]
            </div>
        </div>
        <br>

        <div>
            <div>
                <label>제 목</label>
            </div>
            <div>
                <input type="text" th:value="${dashboard_title}" name="dashboard_title">

            </div>
        </div>
        <br>

        <div>
            <div>
                <label>내 용</label>
            </div>
            <div style="height:200px">
                <input type="text" th:value="${dashboard_content}" name="dashboard_content">
            </div>
        </div>
        <br>

        <div>

            <input type="submit" value="수정완료">
            <input type="reset" value="초기화">
            <input type="button" value="돌아가기" onclick="window.location='/boardList'">
        </div>
</form>
<br><br>

</div>


</body>
</html>