<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>readboard</title>

</head>
<link rel="stylesheet" href="/webapp/css/bootstrapLux.css"/>
<body>

<div>
    <label>게시글 상세보기</label>
</div>

<br><br>


<div>


    <div class="form-group">
        <label class="form-label">글쓴이</label>
        <input class="form-control" type="text" th:placeholder="${dashboard_user}" disabled="">
    </div>

    <br>

    <div class="form-group">
        <label class="form-label">제 목</label>
        <input class="form-control" type="text" th:placeholder="${dashboard_title}" disabled="">
    </div>

    <br>

    <div class="form-group">
        <label class="form-label">내 용</label>
        <input class="form-control" type="text" th:placeholder="${dashboard_content}" disabled="">
    </div>

    <br>

    <form th:action="|/editBoardForm/${dashboard_No}|"/>
        <button type="submit" class="btn btn-secondary" th:if="${session.user_email}">수정</button>
        </form>


    <form method="get"
          th:action="|/deletedashboard/${dashboard_No}/${dashboard_user}|">

        <input type="hidden" name="dashboard_No" value="${dashboard_No}"/>
        <button type="submit" class="btn btn-secondary" th:if="${session.user_email}">삭제</button>
    </form>
        <button type="button" class="btn btn-secondary" onclick="window.location='/boardList'">돌아가기</button>
    <br><br>


    <div>
        댓글
        <table>
            <tr th:each="comment : ${comments}">
                <td width="100">[[${comment.writer}]]</td>
                <td width="200">[[ ${comment.content}]]</td>
                <td width="200">[[${comment.createat}]]</td>

                <td><a th:href="|/reportComment/${comment.writer}/${comment.content}/${comment.dashboard_no}|">신고</a>
                </td>

                <td th:if="${sessionName == comment.writer}"><a
                        th:href="|/deleteComment/${comment.dashboard_no}/${comment.cno}|"> 삭제</a></td>
                <td th:if="${sessionName == 'admin'}"><a
                        th:href="|/deleteComment/${comment.dashboard_no}/${comment.cno}|"> 삭제</a></td>
            </tr>

        </table>

    </div>
    <form th:if="${session.user_email}" action="/comment">
        <input type="hidden" id="dashboard_No" name="dashboard_No" th:value="${dashboard_No}">
        <input type="hidden" id="writer" name="writer" th:value="${sessionName}">

        댓글: <input type="text" name="comment">
        <button type="submit" id="comment">submit</button>
    </form>


</div>

</body>
<th:block th:replace="header :: header">
</th:block>
<script th:inline="javascript">
    /*<![CDATA[*/
        var dashboardNo = $("#dashboard_No").val();
        var replyWriter = $("#writer").val();
        var boardWriter = /*[[${dashboard_user}]]*/;
     /*]]>*/
        $("#comment").click(function(){
             if(socket){
             console.log("들어옴");
            // (reply, 댓글작성자,게시글작성자,글번호)
            socket.send("reply," + replyWriter + "," + boardWriter + "," + dashboardNo);
        }
        })


</script>
</html>