<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>

</head>
<link rel="stylesheet" href="/webapp/css/bootstrapLux.css"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<body>

<th:block th:replace="~{navHeader :: navi}"></th:block>



<table class="table table-hover" width="100" id="products">


    <thead>
    <tr class="table-dark">
        <th scope="col"></th>
        <th scope="col">장르</th>
        <th scope="col">제목</th>
        <th scope="col">가수</th>
        <th scope="col">좋아요 개수</th>
        <th scope="col">재생</th>
        <th scope="col">담기</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="music : ${musicList}" class="table-active">
        <form action="/add_P" method="get" accept-charset="utf-8">
            <input type="hidden" name="user_number" th:value="${P_user_number}">
            <input type="hidden" name="list_name" th:value="${P_list_name}">
            <input type="hidden" name = "music_number" th:value="${music.music_number}">
       <td>
           <img th:src="|/webapp/img/musicimage/${music.music_image}|" width="50" alt="음악사진">
        </td>
        <td>[[${music.music_genre}]]</td>
        <td>[[${music.music_title}]]</td>
        <td>[[${music.music_singer}]]</td>
        <td>[[${music.music_like}]]</td>
        <td>
            <audio controls>
                <source  th:src="|/webapp/music/${music.music_file}|">
            </audio>
        </td>
        <td><input type="submit" value="담기"></td>
        </form>
    </tr>


    </tbody>

</table>

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-seperated"></ul>
</nav>

</body>
</html>