<!DOCTYPE html>
<html lang="en " xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자음모음</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="webapp/css/register.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
    <form action="/add" enctype="multipart/form-data" method="post">
        <div id="main">
            <div class="container">
                <div style="text-align:center">
                    <!-- 여기에 이미지 -->
                    <img src="webapp/img/logoWhite.PNG" width="400" height="400"/>
                </div>
                <table>
                    <tr>
                        <td>제목</td>
                        <td><input type="text" name="music_title"></td>
                    </tr>
                    <tr>
                        <td>가수</td>
                        <td><input type="text" name="music_singer" th:value="${music_singer}" readonly></td>
                    </tr>
                    <tr>
                        <td>장르</td>
                        <td>
                            <select name="music_genre">
                                <option value="힙합">힙합</option>
                                <option value="발라드">발라드</option>
                                <option value="댄스">댄스</option>
                                <option value="R&B">R&B</option>
                                <option value="인디">인디</option>
                                <option value="일렉트로닉">일렉트로닉</option>
                                <option value="트로트">트로트</option>
                                <option value="기타">기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>출시일</td>
                        <td><input type="date" name="music_release"></td>
                    </tr>
                    <tr>
                        <td>이미지</td>
                        <td><input type="file" name="music_image" accept=".gif,.jpg,.png"></td>
                    </tr>
                    <tr>
                        <td>음원파일</td>
                        <td><input type="file" name="music_file" value="${dateType2}"></td>
                    </tr>
                    <tr>
                        <td>가사</td>
                        <td><textarea name="music_lyrics"></textarea></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="추가" style="width:200px"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>