<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
<!--    <thead>-->
    <tr>
        <th>노래 번호</th>
        <th>가수</th>
        <th>곡</th>
        <th></th>
    </tr>
<!--    </thead>-->
<!--    <tbody>-->

    <tr th:each="music : ${musicList}">
        <form action="/add_P" method="get">
        <input type="hidden" name="user_number" th:value="${P_user_number}">
        <input type="hidden" name="list_name" th:value="${P_list_name}">
        <th>[[${music.music_number}]]</th>
        <th>[[${music.music_singer}]]</th>
        <th>[[${music.music_title}]]</th>
        <th><input type="submit" value="담기"></th>
        <th>

        </th>

        </form>
    </tr>

<!--    </tbody>-->

</table>

</body>
</html>