<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <form>
        <h1>아이디 찾기</h1>

        <table>
            <tr>
                <td>이름</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>휴대폰 번호</td>
                <td><input type="text"/><input type="button" value="인증번호 발송"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text"/><input type="button" value="확인"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>