<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <form>
        <h1>비밀번호 찾기</h1>

        <div class="form-group" id="divEmail">
            <input style="width: 290px" class="pw-email" type="email" name="user_email" id="email"
                   placeholder="Email Address"/>
        </div>

        <div class="form-group" style="margin-top: 15px">
            <button type="button" id="emailCheck" class="btn-login" style="width:290px">인증번호 받기</button>

        </div>

        <div class="form-group" id="divVaildnum" style="margin-top: 30px">
            <input style="width: 290px" class="validnum" type="text" name="validnum" id="vailidnum"
                   placeholder="인증번호 6글자 입력해주세요"/>
        </div>


        <div class="form-group" style="margin-top: 15px">
            <button type="button" id="certificationBtn" class="btn-login" style="width:290px;" disabled>
                인증번호 확인
            </button>
        </div>


    </form>


</div>
</body>
</html>