<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="content">
    <form>
        <h1>비밀번호 찾기</h1>

        <div class="form-group" id="divEmail">
            <input style="width: 290px" class="pw-email" type="email" name="user_email" id="email"
                   placeholder="Email Address"/>
        </div>

        <div class="form-group" style="margin-top: 15px">
            <button type="button" id="emailCheck" class="btn-login" style="width:290px">인증번호 받기</button>

        </div>

        <div class="form-group" id="divVaildnum" style="margin-top: 30px">
            <input style="width: 290px" class="validnum" type="text" name="validnum" id="vailidnum"
                   placeholder="인증번호 6글자 입력해주세요"/>
        </div>


        <div class="form-group" style="margin-top: 15px">
            <button type="button" id="certificationBtn" class="btn-login" style="width:290px;" disabled>
                인증번호 확인
            </button>
        </div>
    </form>
</div>
</body>
<script>
    let email = "";
    <!--이메일 보내기-->
    var code = "";
    $("#emailCheck").click(function () {
      email = $("#email").val();
      console.log(email);
      if (email != "") {
        $.ajax({
          type: "GET",
          url: "/sendMail?user_email=" + encodeURIComponent(email),
          success: function (data) {
            if (data == "유저없음") {
              alert("사용자로 등록되지 않은 이메일 입니다.");
            } else if (data == "에러") {
              alert(
                "이메일이 전송되지 않았습니다. 잠시 후 다시 시도해 주세요."
              );
            } else {
                console.log(data);
              alert(
                "인증번호 발송이 완료되었습니다. \n이메일을 확인해 주세요."
              );
              $("#certificationBtn").attr("disabled", false);
              code = data;
            }
          },
        });
      } else {
        alert("이메일을 입력해 주세요.");
      }
    });
    //이메일 인증번호 확인
    $("#certificationBtn").click(function () {
      if ($("#vailidnum").val() == code) {
        alert("인증번호가 일치합니다.");
        location.href = "modifypasswordform?user_email=" + email;
      } else {
        alert("인증번호가 일치하지 않습니다.");
      }
    });












</script>
</html>