<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <th:block th:fragment="header">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script th:inline="javascript">

        var socket = null;
        $(document).ready(function(){

            /*[# th:if="${session.user_email != null}"]*/
                connectWS();
            /*[/]*/


        })

        function connectWS(){
            var ws = new WebSocket("ws://localhost:8090/signal");
            socket = ws;

                ws.onopen = function () {
                  console.log("connection opened");
                 };

                 ws.onmessage = function (event) {
                     console.log("ReceiveMessage : " + event.data);
                     let socketAlert  =  $("#socketAlert");
                     var html = event.data+"<br>";
                     socketAlert.append(html);
                    $("#deleteAlert").click(function(){
                        socketAlert.html("");
                    })
                }
                ws.onclose = function (event) {
                  console.log("connection closed");

                };
                ws.onerror = function (err) {
                  console.log("error : " , err);
                };
              };








        </script>
    </th:block>
</head>
<body>

</body>
</html>