<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tr>
            <th>
                <label for="user_email">이메일</label>
            </th>
            <td>
                <input type="text" id="user_email" name="user_email"/>
                <div class="error"></div>
            </td>
        </tr>
        <tr>
            <th>
                <label for="user_password">비밀번호</label>
            </th>
            <td>
                <input type="password" id="user_password" name="user_password"/>
                <div class="error"></div>
            </td>
            <td><input type="submit" value="로그인"/></td>
        </tr>
    </table>
    <a href="/findidform">아이디찾기</a>
    <a href="/findpwform">비밀번호 찾기</a>
</form>
</body>
</html>