<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="webapp/css/register.css"/>
    <title>로그인</title>
</head>
<body>
<div class="modal fade" id="defaultModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: #1cb495; margin:0 auto;">알림</h4>
            </div>
            <div class="modal-body">
                <p class="modal-contents"></p>
            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn-modal btn-login"
                        style="width: 100%"
                        data-bs-dismiss="modal"
                >
                    닫기
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--// 모달창 -->
<div class="wrapper">
    <form id="loginForm" method="post" action="login">
        <div class="container">
            <div class="image main" data-position="center">
                <!-- 여기에 이미지 -->
                <img src="#" alt=""/>
            </div>
            <h2>로그인</h2>
            <hr>
            <table id="loginTable">
                <tr>
                    <th>
                        <div id="buttonB1">아이디</div>
                    </th>
                    <td><input type="text" id="userId" name="user_email" class="loginInput"></td>
                </tr>
                <tr>
                    <th>
                        <div id="buttonB2">비밀번호</div>
                    </th>
                    <td><input type="password" id="userPwd" name="user_password" class="loginInput"></td>
                </tr>
            </table>
            <a href="/findidform">아이디 찾기</a>
            <a href="/findpwform">비밀번호 찾기</a><br><br>
            <input type="button" value="로그인" id="submitBtn" class="btn-login">
        </div>
    </form>
</div>
<script src="/webapp/js/login.js"></script>
</body>