<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음악 검색</title>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="webapp/css/bootstrapLux.css"/>

    <script src="/webapp/js/paging.js"></script>


</head>
<body>

<th:block th:replace="~{navHeader :: navi}"></th:block>

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>


<h2>음악 검색 결과</h2>


<table class="table table-hover" width="100">


    <thead>
    <tr class="table-dark">
        <th scope="col"></th>
        <th scope="col">장르</th>
        <th scope="col">제목</th>
        <th scope="col">가수</th>
        <th scope="col">좋아요 개수</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="music : ${musics}" class="table-active">
        <td>
            <img th:src="${music.music_image}" width="50" alt="음악사진">
        </td>
        <td>[[${music.music_genre}]]</td>
        <td>
            <a th:href="|/musicDetails/${music.music_number}|">[[${music.music_title}]]</a>
        </td>
        <td>[[${music.music_singer}]]</td>
        <td>[[${music.music_like}]]</td>
        <td>
            <audio controls>
                <source th:src="${music.music_file}">
            </audio>
        </td>
    </tr>


    </tbody>

</table>

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-seperated"></ul>
</nav>


</body>
</html>