<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음악 검색</title>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="webapp/css/bootstrapLux.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">자음모음</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                <!--                여기서부터는 아직 안정함-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>

            <form action="/musicSearch" class="d-flex">

                <select name="genre">
                    <option value="">전체</option>
                    <option value="발라드">발라드</option>
                    <option value="힙합">힙합</option>
                    <option value="댄스">댄스</option>
                    <option value="일레트로닉">일레트로닉</option>
                    <option value="트로트">트로트</option>
                    <option value="인디">인디</option>
                    <option value="R&B">R&B</option>
                    <option value="기타">기타</option>
                </select>
                <input class="form-control me-sm-2" type="text" placeholder="Search" name="keyword">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<h2>음악 검색 결과</h2>

<!--<table border="1" cellpadding="10">-->
<table class="table table-hover" width="100" id="products">

    <form action="" id="setRows">
        <p>
            표시 할 음악의 개수
            <input type="text" name="rowPerPage" value="3">
        </p>
    </form>

    <thead>
    <tr class="table-dark">
        <th scope="col"></th>
        <th scope="col">장르</th>
        <th scope="col">제목</th>
        <th scope="col">가수</th>
        <th scope="col">좋아요 개수</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="music : ${musics}" class="table-active">
        <td>
            <img th:src="${music.music_image}" width="50" alt="음악사진">
        </td>
        <td>[[${music.music_genre}]]</td>
        <td>[[${music.music_title}]]</td>
        <td>[[${music.music_singer}]]</td>
        <td>[[${music.music_like}]]</td>
        <td>[[${music.music_file}]] 재생 버튼</td>
    </tr>
    </tbody>

</table>


<script>

    var $setRows = $('#setRows');

$setRows.submit(function (e) {
	e.preventDefault();
	var rowPerPage = $('[name="rowPerPage"]').val() * 1;// 1 을  곱하여 문자열을 숫자형로 변환

//		console.log(typeof rowPerPage);

	var zeroWarning = 'Sorry, but we cat\'t display "0" rows page. + \nPlease try again.'
	if (!rowPerPage) {
		alert(zeroWarning);
		return;
	}
	$('#nav').remove();
	var $products = $('#products');

	$products.after('<div id="nav">');


	var $tr = $($products).find('tbody tr');
	var rowTotals = $tr.length;
//	console.log(rowTotals);

	var pageTotal = Math.ceil(rowTotals/ rowPerPage);
	var i = 0;

	for (; i < pageTotal; i++) {
		$('<a href="#"></a>')
				.attr('rel', i)
				.html(i + 1)
				.appendTo('#nav');
	}

	$tr.addClass('off-screen')
			.slice(0, rowPerPage)
			.removeClass('off-screen');

	var $pagingLink = $('#nav a');
	$pagingLink.on('click', function (evt) {
		evt.preventDefault();
		var $this = $(this);
		if ($this.hasClass('active')) {
			return;
		}
		$pagingLink.removeClass('active');
		$this.addClass('active');

		// 0 => 0(0*4), 4(0*4+4)
		// 1 => 4(1*4), 8(1*4+4)
		// 2 => 8(2*4), 12(2*4+4)
		// 시작 행 = 페이지 번호 * 페이지당 행수
		// 끝 행 = 시작 행 + 페이지당 행수

		var currPage = $this.attr('rel');
		var startItem = currPage * rowPerPage;
		var endItem = startItem + rowPerPage;

		$tr.css('opacity', '0.0')
				.addClass('off-screen')
				.slice(startItem, endItem)
				.removeClass('off-screen')
				.animate({opacity: 1}, 300);

	});

	$pagingLink.filter(':first').addClass('active');

});


$setRows.submit();






</script>
</body>
</html>