<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자음모음</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/webapp/css/bootstrapLux.css"/>

</head>
<style>
    textarea {
    width:100%;
    height:330px;
    background-color:transparent;
    border: none;
    }




















</style>
<body>

<th:block th:replace="~{navHeader :: navi}"></th:block>
<div class="row">
    <div class="col-sm-6">
        <div class="card border-primary mb-3" style="margin:20px;padding: 20px 30px;">
            <div style="display:inline-block">
                <h1 style=" float:left;" id="detail">[[${details.music_title}]] 상세정보</h1>
                <input id="follower" type="hidden" th:value="${session.user_email}">
                <input id="followee" type="hidden" th:value="${details.music_singer}">
                <div class="btn btn-outline-primary" id="replace_button"></div>
            </div>
            <div class="card-body">
                <img th:src="|/webapp/img/musicimage/${details.music_image}|" width="400" alt="음악사진">
                <br>
                [[${details.music_singer}]]<br>
                [[${details.music_title}]]<br>
                [[${details.music_genre}]]<br>
                [[${details.music_release}]]<br>
                <audio controls>
                    <source th:src="|/webapp/music/${details.music_file}|">
                </audio>
                <br>
                <span th:if="${session.user_email}">
                    <a th:unless="${likes} "
                       th:href="|/likeIncrement/${details.music_number}/${details.music_singer}/1|">좋아요</a>
                    <a th:if="${likes==1} "
                       th:href="|/likeIncrement/${details.music_number}/${details.music_singer}|">좋아요
                    취소</a>
                [[${details.music_like}]]
                </span>
                <a th:if="${session.user_email}"
                   th:href="|/reportMusic/${details.music_singer}/${details.music_title}/${details.music_number}|">신고</a>
                <a th:if="${admin == 'admin@aaa.com'}"
                   th:href="|/deleteMusic/${details.music_number}/${details.music_title}/${details.music_singer}|">삭제</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-primary mb-3" style="margin:20px;padding: 20px 30px;">
            <div style="display:inline-block">
                <h1 style="float:left;">가사</h1>
            </div>
            <div class="card-body">
                <br>
                <textarea th:if=${details.music_lyrics}
                          disabled="">[[${details.music_lyrics}]]</textarea>

                <br>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="header :: header">
</th:block>
<script>
var html = "<button type='button' class='btn btn-outline-primary' id='follow_button' value='follow'"+
                        " style='max-width: 10rem; float:right;'> 팔로우"+
                        "</button>";
var html2 = "<button type='button' class='btn btn-outline-primary' id='unfollow_button' value='unfollow' "+
                        " style='max-width: 10rem; float:right;'> 팔로우  취소" +
                        "</button>";
$(document).ready(function() {
        var follower = $("#follower").val();
        var followee = $("#followee").val();
        console.log(follower);
        console.log(followee);
        console.log("ajax");
            $.ajax({
                type: 'get',
                url : '/followCheck',
                data : {follower:follower, followee:followee},
                success:function(data){
                    showFollowCheckLoad(data);
                    console.log(data);
                },
                error:function(){
                    console.log("error")
                }
	        });

     });

 $(document).on("click","#follow_button",(function(e){
                 var follower = $("#follower").val();
         var followee = $("#followee").val();
         var cmd = $(this).attr("value");
         console.log(cmd);
         $.ajax({
            type: 'get',
            url : '/followOrUnfollow',
            data : {type:cmd, follower:follower, followee:followee},
            success:function(data){
                showFollowCheck(1);
                 if(socket){
                     console.log("들어옴");
                     console.log("follower:"+follower+",followee:"+followee);
                    // (reply, 댓글작성자,게시글작성자,글번호)
                    socket.send("follow," + follower + "," + followee);
                 }
            },
            error:function(){
                console.log("error")
            }
        });
     })
   );
$(document).on("click","#unfollow_button",(function(e){
            var follower = $("#follower").val();
            var followee = $("#followee").val();
            var cmd = $(this).attr("value");
            $.ajax({
                type: 'get',
                url : '/followOrUnfollow',
                data : {type:cmd,follower:follower,followee:followee},
                success:function(data){
                    console.log(data);
                    showFollowCheck(2);
                },
                error:function(){
                    console.log("error")
                }
	        });
    })
  )
function showFollowCheckLoad(data){
        if(data == 0) {
           $("#replace_button").replaceWith(html);
        }
        if(data >= 1) {
            $("#replace_button").replaceWith(html2);
        }

}
function showFollowCheck(checkValue){
            console.log("showfunc");
            if(checkValue == 1) {
                $("#follow_button").replaceWith(html2);
            }
            if(checkValue == 2){
                $("#unfollow_button").replaceWith(html);
            }
}















































</script>
</html>