<!DOCTYPE html>
<html lang="en " xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>음원관리</title>
</head>
<body>

<a href="addMyMusic">음원추가</a>

<h1>업로드한 음원파일</h1>

<table>
    <thead>
    <th>제목</th>
    <th>가수</th>
    <th>장르</th>
    <th>출시일</th>
    <th>이미지</th>
    <th>음원</th>
    <th>삭제</th>
    </thead>

    <tbody>
    <tr th:each="music :${uploadMusicList}">
        <td>[[${music.music_title}]]</td>
        <td>[[${music.music_singer}]]</td>
        <td>[[${music.music_genre}]]</td>
        <td>[[${music.music_release}]]</td>
        <td><img th:src="|webapp/img/${music.music_image}|"></td>
        <td>
            <audio controls>
                <source th:src="|webapp/music/${music.music_file}|"/>
            </audio>
        </td>
        <td>
            <button name="del"
                    th:data-list-name="${music.list_name}"
                    th:data-playlist-cd="${music.playlist_cd}"
                    th:data-music-number="${music.music_number}">삭제
            </button>
        </td>
    </tr>

    </tbody>
</table>

<h1>좋아요한 음원파일</h1>

<table>
    <thead>
    <th>제목</th>
    <th>가수</th>
    <th>장르</th>
    <th>출시일</th>
    <th>이미지</th>
    <th>음원</th>
    </thead>

    <tbody>
    <tr th:each="music :${likeMusicList}">
        <td>[[${music.music_title}]]</td>
        <td>[[${music.music_singer}]]</td>
        <td>[[${music.music_genre}]]</td>
        <td>[[${music.music_release}]]</td>
        <td><img th:src="|webapp/img/${music.music_image}|"></td>
        <td>
            <audio controls>
                <source th:src="|webapp/music/${music.music_file}|"/>
            </audio>
        </td>
    </tr>

    </tbody>
</table>


<script>
var server_result = "";

    $(document).ready(function() {

        $("#delMyMusic").on("click", function(){
            for(var i=0 ; i < server_result.length ; i++) {
                if($("input[name=chk]")[i].checked) { //체크
                    //음원삭제
                    var list_name = server_result[i].list_name;
                    var playlist_cd = server_result[i].playlist_cd;
                    var music_number = server_result[i].music_number;

                    delMyMusic(i, list_name, playlist_cd, music_number);
                }
            }
        });

        //삭제버튼 클릭
        $('button[name="del"]').on("click", function(){
            var list_name = this.getAttribute("data-list-name");
            var playlist_cd = this.getAttribute("data-playlist-cd");
            var music_number = this.getAttribute("data-music-number");

            delMyMusic(list_name, playlist_cd, music_number);
        });

    });

    //음원삭제
    function delMyMusic(list_name, playlist_cd, music_number){

        //음원리스트삭제
        $.ajax({
            type : "POST",
            url : "/delMyMusic",
            data : {
                   "list_name": list_name,
                   "playlist_cd": playlist_cd,
                   "music_number" : music_number
                   },
            success: function(data) {

            }
        });
    }






































</script>
</body>
</html>