<!DOCTYPE html>
<html lang="en " xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>마이페이지</title>
</head>
<link rel="stylesheet" href="/webapp/css/bootstrapLux.css"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<body>
<th:block th:replace="~{navHeader :: navi}"></th:block>


<div>
    <div style="margin:20px;">
        <div style="display:inline-block">
            <h1 style="padding: 20px 30px; float:left;">내가 등록한 음원</h1>
            <button type="button" onclick="location.href='/addMyMusic'" class="btn btn-outline-primary"
                    style="max-width: 10rem;margin: 20px; float:right;">추가
            </button>
        </div>
        <div class="card-body">
            <table class='table table-hover' style='width:100%' aria-describedby='example_info'>
                <thead>
                <tr class='table-active'>
                    <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                        aria-sort='ascending'> 제목
                    </th>
                    <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                        aria-sort='ascending'> 가수
                    </th>
                    <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                        aria-sort='ascending'> 장르
                    </th>
                    <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                        aria-sort='ascending'> 출시일
                    </th>
                    <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                        aria-sort='ascending'> 사진
                    </th>
                    <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                        aria-sort='ascending'> 재생/다운
                    </th>
                    <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
                        aria-sort='ascending'> 삭제
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="music :${uploadMusicList}">
                    <td>[[${music.music_title}]]</td>
                    <td>[[${music.music_singer}]]</td>
                    <td>[[${music.music_genre}]]</td>
                    <td>[[${music.music_release}]]</td>
                    <td><img th:src="|webapp/img/musicimage/${music.music_image}|" width="40"></td>
                    <td>
                        <audio controls>
                            <source th:src="|webapp/music/${music.music_file}|"/>
                        </audio>
                    </td>
                    <td>
                        <a th:href="|/delMyMusic/${music.music_number}|">삭제</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <div style="margin:20px;">
        <div style="display:inline-block">
<h1 style="padding: 20px 30px; float:left;">좋아요한 음원파일</h1>
        </div>

        <div class="card-body">
<table class='table table-hover' style='width:100%' aria-describedby='example_info'>
    <thead>
    <tr class='table-active'>

        <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
            aria-sort='ascending'> 제목
        </th>
        <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
            aria-sort='ascending'> 가수
        </th>
        <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
            aria-sort='ascending'> 장르
        </th>
        <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
            aria-sort='ascending'> 출시일
        </th>
        <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
            aria-sort='ascending'> 사진
        </th>
        <th class='sorting sorting_asc' tabindex='0' aria-controls='example' rowspan='1' colspan='1'
            aria-sort='ascending'> 음원
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="likeMusic :${likeMusicList}">
        <td>[[${likeMusic.music_title}]]</td>
        <td>[[${likeMusic.music_singer}]]</td>
        <td>[[${likeMusic.music_genre}]]</td>
        <td>[[${likeMusic.music_release}]]</td>
        <td><img th:src="|webapp/img/musicimage/${likeMusic.music_image}|" width="40"></td>
        <td>
            <audio controls>
                <source th:src="|webapp/music/${likeMusic.music_file}|"/>
            </audio>
        </td>
    </tr>
    </tbody>


</table>


<script>
var server_result = "";

    $(document).ready(function() {

        $("#delMyMusic").on("click", function(){
            for(var i=0 ; i < server_result.length ; i++) {
                if($("input[name=chk]")[i].checked) { //체크
                    //음원삭제
                    var list_name = server_result[i].list_name;
                    var playlist_cd = server_result[i].playlist_cd;
                    var music_number = server_result[i].music_number;

                    delMyMusic(i, list_name, playlist_cd, music_number);
                }
            }
        });

        //삭제버튼 클릭
        $('button[name="del"]').on("click", function(){
            var list_name = this.getAttribute("data-list-name");
            var playlist_cd = this.getAttribute("data-playlist-cd");
            var music_number = this.getAttribute("data-music-number");

            delMyMusic(list_name, playlist_cd, music_number);
        });

    });

    //음원삭제
    function delMyMusic(list_name, playlist_cd, music_number){

        //음원리스트삭제
        $.ajax({
            type : "POST",
            url : "/delMyMusic",
            data : {
                   "list_name": list_name,
                   "playlist_cd": playlist_cd,
                   "music_number" : music_number
                   },
            success: function(data) {

            }
        });
























</script>
</body>
</html>