<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webapp/css/font.css"/>
</head>
<body>
<th:block th:fragment="footer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid" style=" display: inline-block;">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto" style="margin-left:20%;">
                    <li class="nav-item">
                        <div style="color:white;">
                            고객센터 C/S Center
                            <br>
                            전화 : 02.777.7777<br>
                            팩스 : 02.777.7777<br>
                            이메일 : ucamp36@ucamp36.com<br>
                            카카오톡 ID : ucamp36<br>
                            오전 9시부터 오후 6시까지 상담가능합니다.
                        </div>
                    </li>
                    <li class="nav-item">
                        <div style="color:white;">
                            회사정보<br>
                            상호 : 자음모음<br>
                            대표 : 유캠프<br>
                            주소 : 서울시 강서구 마곡중앙8로 71 LG사이언스파크(E13~14)<br>
                            개인정보관리 책임자 : 유캠프 (ucamp@ucamp.com)<br>
                            사업자 등록번호 : 211-06-76999<br>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div style="color:white;">
                            근무시간<br>
                            - 월 ~ 금 AM 9:00 ~ PM 7:00<br>
                            점심시간<br>
                            - PM12 :00 ~ PM 1 : 00<br>
                            고객센터<br>
                            - AM 10: 00 ~ PM6 : 00<br>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</th:block>
</body>
</html>