<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script>
     $(document).ready(function() {
        console.log("ajax")
        $("button").click(function(){
            $.ajax({
                type: 'get',
                url : '/rank',
                data: 'date='+$('input[name=date]').val+'& genre='$('input[name=genre]').val,
                success: function(result){
                    console.log("end")
                },
                error:function(){
                    console.log("error")
                }
	        });
        });
     });

</script>
<body>
<form>
    <select name="date">
        <option value="music">실시간</option>
        <option value="today_music">일간</option>
        <option value="week_music">주간</option>
        <option value="month_music">월간</option>
    </select>
    <select name="genre">
        <option value="전체">전체</option>
        <option value="발라드">발라드</option>
        <option value="힙합">힙합</option>
        <option value="댄스">댄스</option>
        <option value="R&B">R&B</option>
        <option value="인디">인디</option>
        <option value="일레트로닉">일레트로닉</option>
        <option value="트로트">트로트</option>
        <option value="기타">기타</option>
    </select>
</form>
<button></button>
<table id="example" class="table table-hover" style="width:100%" aria-describedby="example_info">
    <thead>
    <tr class="table-active">
        <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
            aria-sort="ascending">
            제목
        </th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">가수
        </th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">장르
        </th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">좋아요 수
    </tr>
    </thead>
    <tbody>
    <tr th:each="music:${musicList}">
        <td>[[${music.music_title}]]</td>
        <td>[[${music.music_singer}]]</td>
        <td>[[${music.music_genre}]]</td>
        <td>[[${music.music_like}]]</td>
    </tr>
    </tbody>
</table>
<body>


