<!--회원가입 페이지-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="webapp/css/register.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="is-preload">


<!-- Wrapper -->
<div id="wrapper">
    <form action="/register" method="post" id="form" enctype="multipart/form-data">
        <!-- Main -->
        <div id="main">
            <div class="container">
                <!-- One -->
                <section id="one">
                    <div class="image main" data-position="center">
                        <!-- 여기에 이미지 -->
                        <img src="#" alt=""/>
                    </div>
                    <br><br>
                    <!--필수사항-->
                    <div style="font-size: 25px"><strong>로그인 정보에 사용됩니다</strong></div>
                    <hr style="height:2px">
                    <div class="container">
                        <!--닉네임-->
                        <table>
                            <tr>
                                <th>
                                    <label for="user_nickname">닉네임</label>
                                </th>
                                <td>
                                    <input type="text" id="user_nickname" name="user_nickname"/>
                                    <div class="error"></div>
                                </td>
                            </tr>
                            <!--이메일-->
                            <tr>
                                <th>
                                    <label for="user_email">이메일</label>
                                </th>
                                <td>
                                    <input type="email" id="user_email" name="user_email"/>
                                    <div class="error"></div>
                                </td>
                            </tr>
                            <!--비밀번호-->
                            <tr>
                                <th>
                                    <label for="user_password">비밀번호</label>
                                </th>
                                <td>
                                    <input type="password" id="user_password" name="user_password"/>
                                    <div class="error"></div>
                                </td>
                            </tr>
                            <!--비밀번호 확인-->
                            <tr>
                                <th>
                                    <label for="user_password2">비밀번호 확인</label>
                                </th>
                                <td>
                                    <input type="password" id="user_password2"/>
                                    <div class="error"></div>
                                </td>
                            </tr>
                            <!--이름-->
                            <tr>
                                <th>
                                    <label for="user_name">이름</label>
                                </th>
                                <td>
                                    <input type="text" id="user_name" name="user_name"/>
                                    <div class="error"></div>
                                </td>
                            </tr>
                            <!--생년월일-->
                            <tr>
                                <th>
                                    <label for="user_birthday">생년월일</label>
                                </th>
                                <td>
                                    <input type="date" id="user_birthday" name="user_birthday"/>
                                    <div class="error"></div>
                                </td>
                            </tr>
                            <!--휴대폰번호-->
                            <tr>
                                <th>
                                    <label for="phone">휴대폰 번호</label>
                                </th>
                                <td>
                                    <div>
                                        <input class="signup_inputs user_border" id="phone" type="text"
                                               name="user_phone_number"
                                               title="전화번호 입력" style=""/>
                                        <input type="button" id="phoneChk" class="w-btn" value="인증번호 받기">
                                    </div>
                                    <div class="error"></div>
                                    <br/>
                                    <div class="input-control">
                                        <div style="display:flex">
                                            <input class="signup_inputs user_border" id="phone2" type="text"
                                                   name="phone2"
                                                   title="인증번호 입력" disabled style=""/>
                                            <input type="button" id="phoneChk2" class="w-btn" value="본인인증">
                                        </div>
                                        <div class="error" style="color :red"></div>
                                        <span class="point successPhoneChk">휴대폰 번호 입력후 인증번호 보내기를 해주십시오.</span>
                                        <input type="hidden" id="phoneDoubleChk"/>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

            </div>
            <!-- two -->
<!--            <section id="two">-->
                <div class="container">
                    <!--선택 사항-->
                    <!--선호하는 음악 장르-->
                    <table>
                        <tr>
                            <th>
                                선호하는 음악 장르
                            </th>
                            <td>
                                <input type="checkbox" name="user_genre" value="발라드">발라드
                                <input type="checkbox" name="user_genre" value="힙합">힙합
                                <input type="checkbox" name="user_genre" value="댄스">댄스
                                <input type="checkbox" name="user_genre" value="R&B">R&B
                                <input type="checkbox" name="user_genre" value="인디">인디
                                <input type="checkbox" name="user_genre" value="일레트로닉">일레트로닉
                                <input type="checkbox" name="user_genre" value="트로트">트로트
                            </td>
                        </tr>
                        <!--프로필 사진-->
                        <tr>
                            <th>
                                <label for="user_profile">프로필</label>
                            </th>
                            <td>
                                <div align="center" class="filebox" style="padding:10px">
                                    <label id="filebtn" for="user_profile">사진 등록</label>
                                    <input id="user_profile" name="user_image" type="file"
                                           style="display: none" accept=".gif, .jpg, .png" onchange="readURL(this);">
                                </div>
                                <!--이미지 미리보기-->
                                <img id="preview" width="200" height="200" src="webapp/img/basic.png"/>
                            </td>
                        </tr>
                    </table>
                </div>
<!--            </section>-->

            <!-- three -->
<!--            <section id="three">-->
                <div class="container">

                    <div style="font-size: 30px">약관동의</div>
                    <hr style="height:3px">
                    <label for="agree_all" style="display:block">
                        <input type="checkbox" name="agree_all" id="agree_all">
                        <span>모두 동의합니다</span>
                    </label>
                    <label style="display:block">
                        <input type="checkbox" name="agree" value="1">
                        <span>이용약관 동의<strong style="color: #0058A8">(필수)</strong></span>
                    </label>
                    <label style="display:block">
                        <input type="checkbox" name="agree" value="2">
                        <span>개인정보 수집, 이용 동의<strong style="color: #0058A8">(필수)</strong></span>
                    </label>
                    <label style="display:block">
                        <input type="checkbox" name="agree" value="3">
                        <span>개인정보 이용 동의<strong style="color: #0058A8">(필수)</strong></span>
                    </label>
                    <label style="display:block;">
                        <input type="checkbox" name="agree2" value="4">
                        <span>이벤트, 혜택정보 수신동의<strong class="select_disable"
                                                    style="color: #b2afaf">(선택)</strong></span>
                    </label>
                    <div class="error"></div>
                    <br><br>
                    <input id="subbtn" type="button" value="회원가입" class="w-btn" onClick="return checkAll()"/>
                </div>

<!--            </section>-->
        </div>
        </section>
    </form>
</div>
<script type=text/javascript th:src="@{webapp/js/join/resisterValid.js}"></script>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById('preview').src = e.target.result;
    };
    reader.readAsDataURL(input.files[0]);
  } else {
    document.getElementById('preview').src = "img/basic.png";
  }
}
</script>
</body>
</html>